.searchMap-container{
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 120px;
  width: 50%;
  height: 100%;

  // padding: 100px;
  // position: right;
  // right:0;
}
.searchMap {
  // padding-top: 100px;

  min-width: 435px;
  max-width: 800px;
  // max-width: 600px;
  // width: 40vw;
  height: 80vh;
}
.display-all-rooms-container{
  // min-width: 500px;
}
.display-all-rooms {
  //resize images on resizing

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // flex: 1;
    li {
      min-height: 50%;
      max-height: 50%;

      padding: 8px;
      img {
        height: 200px;
        width: 300px;
        // max-height: 100%;
        // max-width: 100%;
      }

      h4, h5 {
        padding: 0;
        margin: 0;
      }
      h5 {
        font-weight: lighter;
      }
    }
  }
}

// #map-place-holder {
//   width:25%;
//   max-width: 450px;
//
// }

.rooms-map-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
}
