/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
}

 .header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   height: 100px;
 }

 .left-header-group {
   display: flex;
   align-items: center;
   height: 50px;
 }

 .right-header-group > nav {
   display: flex;
   flex-direction: row;
   height: 50px;
 }

 .right-header-group > nav > .link {
   text-decoration: none;
   padding-right: 10px;
   padding-left: 10px;
 }

 .right-header-group > nav > .link > :hover {
   text-decoration: underline;
 }

 .right-header-group > nav > .link > h4 {
   font-family: sans-serif;
   font-size: 12px;
   font-weight: bolder;
   color: #333333;
 }

.left-header-group > img {
  padding-right: 20px;
}

.left-header-group > h2 {
  padding: 5px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  border: 3px solid grey;
}
